{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block page_js %}
  <script src="{% static 'js/app-bundle.js' %}"></script>
{% endblock page_js %}
{% load form_tags %}
{% block app %}

<section class="app-card">
    <div class="">
        <h3 className="block text-sm font-medium leading-6 text-gray-900">
            Upload Appointment Ids
        </h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ zonprep_form.non_field_errors }}
            {% render_form_fields zonprep_form %}
            <div class="mt-2">
                <button class="pg-button-primary" type="submit">{% translate "Submit Form" %}</button>
            </div>
        </form>
        {% if submitted %}
        <p>Form submitted successfully information below</p>
        <ul>
            <li>
                New appointments created: <b>{{created_appointments}}</b>
            </li>
            <li>
                Appointments that already exist: <b>{{already_created_appointments}}</b>
            </li>
        </ul>
        
        {% endif %}
    </div>
</section>

<!-- React Project here -->
<div id="front-end-react-app"></div>
{% endblock %}
