{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block app %}
<section class="app-card">
    <div class="pg-columns pg-columns-reversed pg-align-items-center">
        <div class="pg-column">
            <h1 class="pg-title">{% translate "Welcome to ZonPrep OCR Parser" %}</h1>
        </div>
    </div>
</section>
<section class="app-card">
    <div class="pg-content">
        <p>Upload CSV with Appointment ids as the only column.</p>

        <form method="post">
            {% csrf_token %}
            {{ zonprep_form.non_field_errors }}
            {% render_form_fields zonprep_form %}
            <div class="mt-2">
                <button class="pg-button-primary" type="submit">{% translate "Submit Form" %}</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
