docutils
Django
django-allauth[socialaccount,mfa]
django-otp  # this is required for the allauth two-factor migration, but can be removed after that
django-waffle
psycopg2-binary
django-environ
djangorestframework
djangorestframework-api-key
drf-spectacular
django-anymail[mailgun]  # email services
django-hijack
django-storages[google]
celery-progress
celery
celery[redis]
django-celery-beat
whitenoise[brotli]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pdfplumber
simple-salesforce
